.hero {
  height: 70vh;
  background: url("/src/Components/Assets/cleaning_bg.png") no-repeat center
    center/cover;
  display: flex;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.hero-left p {
  color: white;
  font-size: 80px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-right-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
