/* About.css */

/* Heading styling */
h2 {
  color: #136581; /* Google Blue */
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
}

.abt-desc {
  position: relative;
  text-align: center; /* Center the content horizontally */
}
.abt-desc2 {
  position: relative;
  text-align: center; /* Center the content horizontally */
}

.abt-desc img {
  width: 55%; /* Set the width of the image */
  height: 350px; /* Maintain the aspect ratio */
  border-radius: 20px;
  box-shadow: 0 0 50px #136581; /* Equal box shadow on all sides */
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

/* Paragraph styling */
.abt-desc2 p {
  font-size: 1em;
  color: #363535;
  line-height: 2;
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.abt-desc p {
  font-size: 1.5em;
  color: #363535;
  line-height: 2;
  margin-top: 30px;
  font-weight: bolder;
  max-width: 100%;
}

/* About.css */

.abt-goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 10px; /* Adjust the gap between grid items */
  align-items: center; /* Center items vertically */
}

.abt-goals p {
  font-size: 1.2em;
  color: #363535;
  line-height: 2;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-event {
  display: flex;
  width: 80%;
  margin: 20px 0;
}

.timeline-image {
  flex: 1;
  position: relative; /* Add position relative to position the image inside */
}

.timeline-image img {
  width: 90%;
  height: 300px;
  border: 5px solid #136581; /* Add a border with color #136581 */
  border-radius: 10px; /* Set a border-radius for rounded corners */
  margin-left: 10px;
}

/* Common styles for both timelines */
.timeline-text {
  flex: 1;
  padding: 0 20px;
  border-radius: 8px;
}

.timeline-text p {
  margin-top: 40px;
  /* font-size: 16px; */
  line-height: 1.6;
}

/* Styles for the first timeline (timelineData) */
.timeline1 {
  color: #363535;
  font-weight: bolder;
  font-size: 1.5em;
  margin-top: 20px;
}

/* Styles for the second timeline (timelineData2) */
.timeline2 {
  color: #363535; /* Change this to the desired color for the second timeline */
  font-weight: bold; /* Change this to the desired font-weight for the second timeline */
  font-size: 1em;
  margin-top: 20px;
}

/* contact */
