* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.contact {
  text-align: center; /* Center text in the contact container */
}

.contact h2 {
  font-size: 40px;
  color: #136581;
  font-weight: bolder;
  margin-bottom: 10px;
}

.contact form {
  width: 500px;
  margin-top: 20px; /* Add margin to create space between h2 and form */
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  margin-left: 250px;
  width: 100%;
  padding: 6px;
  background: transparent;
  border: 2px solid #136581;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  margin-top: 10px;
}

.field .item::placeholder {
  color: rgba(
    19,
    102,
    129,
    0.584
  ); /* Adjusted color to match your placeholder color */
}

.field .error-text {
  font-size: 14.5px;
  color: red;
  text-align: left;
  margin: -5px 0 10px;
  /* display: none; */
}

form .textarea-field .item {
  resize: none;
}

form .textarea-field .error-txt {
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  background: #136581;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #136581;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px auto 0; /* Center button */
}

form button:hover {
  box-shadow: none;
}
