.project {
  background: white;
  margin-top: 3%;
  padding: 10%;
}

.project h1 {
  color: #616161;
  font-size: 2.5vw;
  margin-left: 35px;
}

.project h2 {
  margin-bottom: 3rem;
  color: #156789;
  font-size: 3.5vw;
  font-weight: 800;
  margin-right: 570px;
}

.project h3 {
  color: white;
  font-size: 30px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.1rem; 
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 600px) {
  .project h1 {
    font-size: 18px; 
  }

  .project h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .project-container {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}



.project-container:hover {
  transform: scale(1.05); 
}

.project-container .project-box {
  flex: 1 1 20rem;
  background: #156789;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #156789;
  transition: 0.5s ease;
  margin: 1rem;
}
.project-container .project-box:hover {
  border-color: #156789;
  transform: scale(1.02);
}

.project-box i {
  font-size: 7rem;
  color: #156789;
}

.project-box h3 {
  font-size: 2rem;
}

.project-box p {
  font-size: 1.3rem;
  margin: 1rem 0 3rem;
}

.gallery_image {
  max-width: 100%; 
  margin-bottom: 1.5rem; 
}

.project-container .project-box img {
  width: 100%; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: white;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: black;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.more-projects-button {
  text-align: right;
  margin-top: 2rem;
  margin-right: 100px;
}

.more-projects-button a {
  background-color: white;
  color: #156789;
  padding: 10px 20px;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.more-projects-button a:hover {
  background-color: white;
  transform: scale(1.1);
}
